# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/my-typescript-app/node_modules
/my-typescript-app/.pnp
/my-typescript-app/pnp.js

# testing
/my-typescript-app/coverage

# production
/my-typescript-app/build

# misc
/my-typescript-app/DS_Store
/my-typescript-app/.env.local
/my-typescript-app/.env.development.local
/my-typescript-app/.env.test.local
/my-typescript-app/.env.production.local

/my-typescript-app/npm-debug.log*
/my-typescript-app/yarn-debug.log*
/my-typescript-app/yarn-error.log*
